// Fonts:
$bold-font-family: 'Raleway', sans-serif
$text-font-family: 'Fjord One', serif

// Colors
$primary: #2196f3
$dark-primary: #1976D2
$light-priamry: #BBDEFB
$text: #FFFFFF

$accent: #FF4081
$primary-text: #212121
$seconday-text: #757575
$divider: #BDBDBD
