// Fonts:
$font-family-1: 'Computer Modern Bright'
$font-family-2: 'Computer Modern Concrete'
$font-family-3: 'Computer Modern Sans'
$font-family-4: 'Computer Modern Serif'
$font-family-5: 'Computer Modern Typewriter'
$font-family-6: 'Computer Modern Bright Semibold'
$font-family-7: 'Computer Modern Sans Demi-Conder'
$font-family-8: 'Computer Modern Serif Slanted'
$font-family-9: 'Computer Modern Typewriter Light'
$font-family-10: 'Computer Modern Typewriter Variable'
$font-family-11: 'Computer Modern Upright Italic'
$bold-font-family: 'Computer Modern Bright', sans-serif
$text-font-family: $font-family-1
$monospace-font-family: $font-family-5

// Colors
$primary: #2196f3
$dark-primary: #1976D2
$light-primary: #BBDEFB
$text: #FFFFFF

$accent: #FF4081
$primary-text: #212121
$secondary-text: #757575
$divider: #BDBDBD
$spacing-0: .0625rem
$spacing-1: .125rem
$spacing-2: .25rem
$spacing-3: .5rem
$spacing-4: 1rem
$spacing-5: 2rem
$spacing-6: 4rem
$spacing-7: 8rem
$spacing-8: 16rem
$spacing-9: $spacing-7 + $spacing-8

$font-size-1: 8rem
$font-size-2: 2.5rem
$font-size-3: 2rem
$font-size-3: 1.75rem
$font-size-4: 1rem
$font-size-5: 13px

$font-size-h1-content: $font-size-2 + .5rem
$font-size-h2-content: $font-size-3 + .5rem
$font-size-h3-content: $font-size-4 + .5rem
$font-size-h4-content: $font-size-4 + .15rem

